/********** Base styles **********/
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: Times serif;
}
h1 {
  margin-bottom: 15px;
  text-align: center;
}
section {
  padding: 60px 10px 10px 10px;
  margin: 2%;
  position: relative;
  background: grey;
  font-size: 125%

}
.chicken {
  background-color: #fff68f;
}
.beef {
  background-color: #e14150;
}
.sushi {
  background-color: #40e0d0;
}
h2 {
  font-size: 175%;
  padding: 5px;
  position: absolute;
  border: 3px solid black;
  top: 0;
  right: 0;
}
/* Simple Responsive Framework. */
.row {
  width: 100%;
}
/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    border: 3px solid black;
    width: 29.33%;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12 {
    float: left;
    border: 3px solid black;
  }
  .col-md-6 {
    width: 46%;
  }
  .col-md-12 {
    width: 96%;
  }
}

/********** Small devices only **********/
@media (max-width: 767px) {
  .col-sm-12 {
    float: left;
    border: 3px solid black; 
    width: 92%;
  }
  section {
    margin: 2% 4% 2% 4%;
  }
}